<main>
  <section class="action">
    <img src="assets/images/hero.webp" alt="not-found" style="width: 120px" />
    <br />
    <small style="color: white">based on TRON's network</small>
  </section>

  <section class="info">
    <section *ngIf="!transactionTrigerd" class="box">
      <form [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>USDT</mat-label>
          <input matInput placeholder="14.26751" formControlName="amount" />
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
      </form>
      <p style="text-align: left">Guide:</p>
      <ol style="text-align: left">
        <li>Enter the amount of Tether (USDT) you want to transfer.</li>
        <li>
          Transfer to this wallet address:
          <mat-form-field (click)="copyWalletAdress()">
            <input matInput disabled [value]="walletAdress" />
            <mat-icon matSuffix>file_copy</mat-icon>
            <mat-hint>click to copy</mat-hint>
          </mat-form-field>
        </li>
        <li>
          Then Keep the transaction ID, You should Enter that in next step.
        </li>
      </ol>
      <div class="errors">
        <mat-error *ngIf="error"> {{ error }} </mat-error>
        <br />
      </div>
      <a mat-stroked-button (click)="triggerTransaction()">Next Step</a>
    </section>

    <section *ngIf="transactionTrigerd" class="box">
      <p style="text-align: left">
        If you have transferd
        <strong> {{ this.form.controls.amount.value }} USDT </strong>
        to our Wallet.
        <br />
        Please enter your Transaction ID and submit the form.
      </p>
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Transaction ID</mat-label>
          <textarea
            matInput
            rows="6"
            formControlName="transactionID"
          ></textarea>
        </mat-form-field>
      </form>
      <div class="errors">
        <mat-error *ngIf="error"> {{ error }} </mat-error>
        <br />
      </div>
      <button mat-stroked-button (click)="startTransaction()" color="primary">
        Submit
      </button>
    </section>
  </section>
</main>
