<img
  src="/assets/images/diamond-icon.png"
  style="max-width: 30%; max-height: 40%; margin-bottom: 8%"
  alt="diamond-icon"
/>
<h1>
  <b> TON Wallet </b>
</h1>
<p>
  TON Wallet allows you to make fast and secure blockchain-based payments
  without intermediaries.
</p>

<section style="padding-top: 10%">
  <mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile>
      <button mat-flat-button color="primary">Register</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button>Login</button>
    </mat-grid-tile>
  </mat-grid-list>
</section>
