<section>
  <img
    src="/assets/images/diamond-icon.png"
    alt="diamond-icon"
    width="118px"
    height="118px"
  />
  <h1>
    <b> TON Wallet </b>
  </h1>
  <p>
    TON Wallet allows you to make fast and secure blockchain-based payments
    without intermediaries.
  </p>
  <br />
  <br />
  <mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile>
      <button
        routerLink="register"
        routerLinkActive="active"
        mat-flat-button
        color="primary"
      >
        Register
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button routerLink="login" routerLinkActive="active" mat-flat-button>
        Login
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</section>
