<section>
  <img
    src="/assets/images/logo.png"
    alt="tether-icon"
    width="118px"
    height="158px"
  />
  <p>
    Alpha Wallet allows you to make fast and secure blockchain-based payments
    without intermediaries.
  </p>
  <br />
  <mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile>
      <button
        routerLink="/register"
        routerLinkActive="active"
        mat-flat-button
        color="primary"
      >
        Register
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button routerLink="/login" routerLinkActive="active" mat-flat-button>
        Login
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</section>
