<main>
  <section class="action">
    <section class="balance">
      <!-- <img
        src="/assets/images/tether.png"
        alt="diamond-icon"
        width="6%"
        height="6%"
        style="vertical-align: sub; margin-right: 3px"
      /> -->
      <span>
        <p>TOTAL PROFIT</p>
        <mat-icon style="vertical-align: sub; margin-right: 3px; color: #50af95"
          >trending_up</mat-icon
        >
      </span>
      <div style="display: inline-flex; align-items: center">
        <h2>0</h2>
        <p style="margin-left: 6px">USDT</p>
      </div>
    </section>

    <div class="buttons">
      <button
        mat-flat-button
        color="primary"
        routerLink="/recive"
        routerLinkActive="active"
      >
        Recive
      </button>
      <button
        mat-flat-button
        color="primary"
        routerLink="/send"
        routerLinkActive="active"
      >
        Send
      </button>
    </div>
  </section>

  <section class="info">
    <ng-container *ngIf="transactions.length === 0">
      <img
        class="img_run"
        src="assets/images/run.webp"
        alt="not-found"
        width="35%"
        height="35%"
        style="pointer-events: none"
      />
      <section class="message">
        <h2>Wallet Created</h2>
        <small style="color: gray">Yaay Start Transferring USDT</small>
      </section>
    </ng-container>

    <ng-container *ngIf="transactions?.length !== 0">
      <div *ngFor="let item of transactions">
        <section class="table">
          <p>{{ item?.formatted_date }}</p>
          <span>
            <img
              src="/assets/images/tether.png"
              alt="tether"
              width="4%"
              height="4%"
            />
            <strong style="color: #245953">
              {{ item?.amount }}
            </strong>
            <small style="color: #394867"> to </small>
          </span>
          <br />
          <p>{{ item?.receiver }}</p>
          <span *ngIf="item.state === 2" class="badge"> successful </span>

          <span
            *ngIf="item.state === 1"
            class="badge"
            style="background-color: #ff6d60"
          >
            pending
          </span>
        </section>
        <hr />
      </div>
    </ng-container>
  </section>
</main>
