main{
  background-color: #212A3E;
}

.action{
  height: 22vh;
  background-color: #212A3E;
}

.info{
  background-color: #F1F6F9;
  height: 75vh;
  border-radius: 20px 20px 0 0;
}

.balance {
  position: relative;
  color: white;
  top: 10%;
}

.buttons {
  position: relative;
  top: 15%;
  transform: translateY(-15%);
}

.buttons button:last-child {
  margin-left: 10px;
}

button {
  width: 45%;
}

.mat-flat-button.mat-primary{
  background-color: #24a3ff
}

.img_run {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}

.message {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}

.table {
  text-align: left;
  padding: 0px 0px 10px 15px;
}
.table:first-child {
  padding-top: 10px;
}

.badge {
  background-color: #98D8AA;
  color: white;
  padding: 2%;
  border-radius: 10px 10px 10px 10px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}