.mat-form-field {
  display: block;
}

img {
  max-width: 60%;
  max-height: 70%;
  margin-bottom: 8%;
}

.button-row button,
.button-row a {
  width: 300px;
}

.disabled {
  display: inline-block;
}
