.main {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 10px 10px 10px;
}

.filler {
  flex: 1 1 auto;
}

.gap {
  margin-right: 20px;
}

mat-form-field,
button,
a {
  width: 80%;
}
